{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>Rango says hello!</h1>
    <div>
        This tutorial has been put together by Jiaqing Ran <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <p> visits: {{ visits }}</p>
        <img src="{{MEDIA_URL}}cat.jpg" alt="Picture of Lovely Cat">
        <img src="{% static 'images/rangoCat.jpg' %}" alt="Picture of Cat" /> <!-- New line -->
    </div>
{% endblock %}
